---
layout: /layouts/default.liquid
---
<section class="section">
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column is-6">
        <div class="" style="position: relative;">
          <img class="is-relative is-radius is-fullwidth is-object-cover"
            style="height: auto; max-height: 600px; z-index: 10;" src="{{image}}" alt=""></div>
      </div>
      <div class="column is-6">
        <div class="mb-6">
          <span class="tag is-info is-rounded">{{ page.date | date: '%B %d, %Y' }}</span>
          <h2 class="mt-4 title is-size-3">{{title}}</h2>
        </div>
        <div class="is-flex mb-6">
          <div>
            <p class="subtitle">{{desc}}</p>
            <p>
              {{content}}
            </p>
            <div id="gitalk-container"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <script>
  const gitalk = new Gitalk({
  clientID: '9f002c6ccae17950c8f8',
  clientSecret: '22eff164aaf1b81d7d26e3173856f55d443a5750',
  repo: 'SavannaVon',      // The repository of store comments,
  owner: 'clarkhacks',
  admin: ['clarkhacks'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
  </script>